<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Интерфейс пользователя", "GetUserPage")</li>
                <li>@Html.ActionLink("Интерфейс администратора", "GetAdminPage")</li>
                <li>@Html.ActionLink("Операции", "GetOperationPage")</li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
