<table class="table table-responsive table-bordered table-inverse" id="operations-table">
    <thead class="thead-inverse">
        <tr class="success">
            <th>Идентификатор</th>
            <th>Дата</th>
            <th>Описание</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody id="operations-holder">
        @foreach (Operation op in Model)
            {

            <tr style="color:green">
                <td>@op.Id</td>
                <td>@op.Date</td>
                <td>@op.Description</td>
                <td>@op.Amount</td>
            </tr>
        }
    </tbody>
</table>

<div id="table-empty-message-holder" hidden>Никаких операций не производилось</div>

<div class="alert alert-info">
    <strong>Баланс:</strong> @ViewBag.balance
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/mainScript.js")
